.copyright {
  background-color: $_dark-blue;
  padding: 24px 0;
}

.copyright-wrap {
  margin: 0 -15px; 
}
.copyright-wrap-text {
  width: 370px;
  margin: 0 15px;
  @include h5;
  color: $_grey-copyright;
  text-align: center;
  margin: auto;
  p {
    display: block;
  }
  span {
    color: $_white;
  }
}
