.download {
  padding: 114px 0;
  background-color: $_white;
}
.container {
}
.download-wrap {
 
}
.download-title {
  @include h3;
  color: black;
  margin-bottom: 5px;
  text-align: center;
}
.download-desc {
  @include h5;
  color: black;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
}
.download-link {
  display: block;
  margin: auto;
  background-color: $_red;
  line-height: 80px;
  text-align: center;
  width: 370px;
  a {
    @include h4;
    color: $_white;
  }
  transition-duration: 0.5s;
  &:hover {
    background-color: $_red-changes;
    transition: 0.5s;
  }
  &:active {
    transition: 0.5s;
    transform: scale(0.98);
    box-shadow: 4px 4px 30px #FF4343;
  }
}
@media (max-width: 1024px) {
  .download-title {
    font-size: 24px;
  }
  .download-desc {
    font-size: 14px;
  }
  .download-link {
    width: 310px;
  }
}