.features {
  padding: 125px 0;
}
.container {
}
.features-wrap {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}
.features-card {
  margin: 0 15px;
  width: 370px;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;
  transition-duration: 0.9s;
  &:hover {
    box-shadow: 20px 20px 40px rgba(77, 74, 74,0.6);
    border-radius: 5px;
    transform: scale(1.05) translate(5px,0);
    transition: 0.9s;
  }
  .features-card-img {
    margin-bottom: 65px;
    transition-duration: 2s;
    &:hover {
      transition: 2s;
      transform: rotate(360deg) scale(1.1);
    }
  }
  .features-card-title {
    margin-bottom: 45px;
    @include h4;
    color: $_black;
  }
  .features-card-text {
    @include h5;
    color: $_dark-grey;
    text-align: center;
    &:hover {
      color: $_red;
    }
  }
  &:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}