@import '../scss/cdn.scss';
@import '../scss/variables.scss';
@import '../scss/mixins.scss';
@import '../scss/header.scss';
@import '../scss/features.scss';
@import '../scss/work.scss';
@import '../scss/ourteam.scss';
@import '../scss/testimonials.scss';
@import '../scss/download.scss';
@import '../scss/footer.scss';
@import '../scss/copyright.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;

  @media (max-width: 1170px) {
    max-width: 1024px;
  }

  @media (max-width: 1024px) {
    max-width: 984px;
  }

  @media (max-width: 670px) {
    max-width: 320px;
  }
}
