.ourteam {
  padding: 114px 0;
}
.container {
}
.ourteam-wrap { 
  display: flex;
  justify-content: center;
  margin: auto;
  margin: 0 -15px;
}
.ourteam-card {
  width: 270px;
  margin: 0 15px;
}
.ourteam-card-img {
  .ourteam-img {
    width: 100%;
    height: 100%;
  }
  margin-bottom: 30px;
}
.ourteam-card-content {
  transition-duration: 0.3s;
  &:hover {
    color: $_black;
    transform: scale(1.05);
    transition: 0.3s;
    // box-shadow:  $_red;
  }
}
.ourteam-name {
  @include h4;
  color: $_black;
  display: block;
  margin-bottom: 5px;
}
.ourteam-post {
  @include h4;
  color: $_red;
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 18px;
}
.ourteam-card-text {
  @include h5;
  color: $_dark-grey;
  margin-bottom: 38px;
}

@media (max-width: 1170px) {
  .container {
    max-width: 1024px;
  }
  .ourteam-card {
    width: 230px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 984px;
  }
  .ourteam-card {
    width: 220px;
    justify-content: space-between;
    
  }
}
