.testimonials {
  background-color: $_purple;
  
}
.testimonials-wrap {
  display: flex;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: $_purple;
    width: 14px;
    height: 14px;
    border: 1px solid $_purple;
    border-radius: 50%;
    margin-top: 31px;
  }
}
.testimonials-img {
  width: 50%;
  img {
    width: 100%;
    height: 100%;
  }
}
.testimonials-desc {
  width: 50%;
  display: block;
  margin: auto;
}
.tesimonials-desc-quote {
  display: block;
  margin: auto;
  font-family: "Cardo";
  font-size: 36px;
  color: $_white;
  text-align: left;
  width: 470px;
  font-weight: 400;
  text-transform: capitalize;
}
.testimonials-desc-author {
  display: block;
  margin: auto;
  @include h6;
  color: $_white;
  width: 470px;
  text-transform: uppercase;
}
