// font-size
$_64px: 4rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;
// colors
$_white: rgba(255,255,255,1);
$_red: rgba(255,67,67,1);
$_red-changes: rgba(231,20,20,1);
$_red-img-hover: rgba(255,67,67,0.8);
$_red-img-active: rgba(187,12,12,0.8);
$_purple: rgba(92,50,73,1);
$_light-purple: rgba(126,93,111,1);
$_blue: rgba(53,60,101,1);
$_dark-blue: rgba(44,49,84,1);
$_grey: rgba(186,187,197,1);
$_black: rgba(45,48,51,1);
$_dark-grey: rgba(108,114,121,1);
$_grey-social: rgba(198,203,205,1);
$_grey-copyright: rgba(128,128,128,1);
$_blue-facebook: rgb(59,89,152);
$_light-blue-twitter: rgb(0,172,238);
$_blue-linkedin: #0a66c2;