.work-wrap {
  display: flex;
  flex-wrap: wrap;
  .work-item {
    position: relative;
    width: 25%;
    .work-img {
      width: 100%;
      height: 100%;
      display: block;
      
    }
    .work-content {
      opacity: 0;
      position: absolute;
      background-color: $_red-img-hover;
      
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%,-50%);
      height: 100%;
      z-index: 1;
      text-align: center;
      padding: 35% 0;
      .work-name {
        @include h4;
        color: $_white;
        text-transform: uppercase;
        margin-bottom: 2.25em;
      }
      .work-desc {
        @include h5;
        color: $_white;
      }
    }
    &:hover .work-content {
      opacity: 1;
    }
    &:active .work-content {
      opacity: 1;
      background-color: $_red-img-active;
    }
  }
 
}

@media (max-width: 1024px) {
  .work-wrap {
    max-width: 100%;
  }
  .work-content {
    padding: 76px 0 86px 0;
  }
  .work-name {
    font-size: 18px;
    margin-bottom: 24px;
    line-height: 21.13px;
  }
  .work-desc {
    font-size: 14px;
    line-height: 16.44px;
  }
}
