.footer {
  padding: 70px 0;
  background-color: $_blue;
}

.footer-wrap {
  margin: 0 -15px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-content-card {
  width: 370px;
  margin: 0 15px;
  transition-duration: 0.3s;
}

.footer-card-title {
  margin-bottom: 29px;
  @include h4;
  color: $_white;
  text-align: center;
  transition-duration: 0.3s;

  &:hover {
    color: $_red;
    transition: 0.3s;
  }
}

.footer-card-desc {
  @include h5;
  color: $_white;
  text-align: center;
  transition-duration: 0.3s;
}

i {
  padding: 10px 11px;
  width: 39px;
  height: 39px;
  border: 1px solid $_grey-social;
  font-size: 18px;
  color: $_grey-social;
}

.fa-facebook-f {
  transition-duration: 0.4s;

  &:hover {
    color: $_blue-facebook;
    transition: 0.6s;
  }
}

.fa-twitter {
  transition-duration: 0.4s;

  &:hover {
    color: $_light-blue-twitter;
    transition: 0.6s;
  }
}

.fa-linkedin {
  transition-duration: 0.4s;

  &:hover {
    color: $_blue-linkedin;
    transition: 0.6s;
  }
}

@media (max-width: 1024px) {
  .footer-card-title {
    font-size: 14px;
  }

  .footer-card-desc {
    font-size: 14px;
  }
}

@media (max-width: 670px) {
  .footer {
    padding: 35px;
  }

  .footer-content {
    display: block;
    margin: auto;
  }

  .footer-content-card {
    width: 90%;
    margin-bottom: 70px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      margin-right: 17px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
