@mixin h1 {
  font-size: $_64px;
  font-weight: 900;
}
@mixin h2 {
  font-size: $_36px;
  font-weight: 700;
}
@mixin h3 {
  font-size: $_30px;
  font-weight: 700;
}
@mixin h4 {
  font-size: $_24px;
  font-weight: 900;
}
@mixin h5 {
  font-size: $_18px;
  font-weight: 400;
}
@mixin h6 {
  font-size: $_13px;
  font-weight: 700;
}
